@charset "UTF-8";

body{
font-family: Arial, Helvetica, sans-serif;}

.topo{
height: 60px;
vertical-align: middle;}

table{
width: 400px;
height: 400px;
border-collapse: collapse;}

#topo1{
vertical-align: middle;}

td{
border: solid 1px black;
padding: 5px;
text-align: center;/*alinhamento horizontal*/
/*vertical-align: middle;*/
vertical-align: top;} /*alinhamento vertical*/

.numero{
text-align: right;}

.linha1{
border: 1px solid black;}
