@charset "UTF-8";

*{
margin: 0px;
padding: 0px;}

body{
font-family: sans-serif;}

h1{
text-align: center;
margin-top: 10px;}

table{
border-collapse: collapse;
width: 400px;
margin-left: 250px;
margin-top: 15px;
display: inline-block;}

td{
text-align: center;
padding: 10px;
border: 1px solid black;}