@charset "UTF-8";

*{
margin: 0px;
padding: 0px;}

body{
font-family: sans-serif;}
h1{
margin-left: 200px;
margin-top: 10px;}

table{
border-collapse: collapse;
width: 300px;
margin-left: 210px;
margin-top: 15px;}

td{
text-align: center;
padding: 10px;
border: 1px solid black;}