@charset "UTF-8";

*{
padding: 0px;
margin: 0px;}

body{
background-color: #cbc7e859;
}

h1{
text-align: center;
margin: auto;
margin-top: 15px;
margin-bottom: 15px;
width: 500px;
color: white;
background-color: black;
text-transform: uppercase;
font-family: sans-serif;}

caption{
font-size: 1.5em;
padding: 10px;
font-weight: bolder;
background-color: lightgray;
border: 3px solid black;}

tbody > tr:nth-child(odd)/* 2n-1 */{
background-color: #57595b75;
font-weight: bolder;}

tbody > tr:nth-child(even)/* 2n */{
    background-color: #ffffff;}

th.popul{
width: 70px;}

table{
width: 500px;
border-collapse: collapse;
margin: auto;
border: 3px solid black;}

td{
height: 10px;}

td.numero{
text-align: right;}

td.porcen{
text-align: center;}

thead, tfoot{
background-color: gray;
color: white;
}

td, th{
padding: 10px;
border: 1px solid black;}

