@charset "UTF-8";

*{
padding: 0px;
margin: 0px;}

body{
    height: 97vh;
    background-color: #5b5badb0;
    background-image: linear-gradient(to bottom, #b6cbe4, #6ca6ec, #3a3ad7, rgb(31, 31, 221));}

h1{
text-align: center;
margin-top: 20px;
font-family: sans-serif;
font-weight: bold;}