*{
    padding: 0px;
    margin: 0px;}
    
    body{
        height: 97vh;
        background-color: #5b5badb0;
        background-image: linear-gradient(to bottom, #f0a45d, #c77f36, #bc700c, #9d470d);}
    
    h1{
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
font-style: italic;}
    
    form{
        margin-left: 25px;}
        
        p{
        margin-top: 10px;}

        .botoes{
           
            display: block;
            position: absolute;
            margin-left: 380px;
            margin-top: 70px;}